html
    head
        title Create Account
        link(rel="stylesheet" type="text/css" href="/styles.css")
    body
        include ../views/header
        h6 Create Your Account:
        div#middle(class = "column middle")
            div.stats
                h1 Username: 
                |
                input#user(type='text', name='user')
                h1 Password: 
                |
                input#pass(type='text', name='pass')
                h1 Goal: 
                |
                input#goal(type='text', name='goal')
                h1 Health Metrics: 
                |
                input#health_metrics(type='text', name='health_metrics')
                br
                div.button1
                    button#delete(type = "button" onclick="newAcc()") Create new account                
                div#formErrors 
        script(src="/createAccount.js")
