html
    head
        title Header 
        link(rel="stylesheet" type="text/css" href="/styles.css")
    body
        div.main
            div#left(class = "column left")
                div.link
                    a(href="/")  Home 
                    br
                    a(href="/dash") DashBoard  
                    br
                    a(href="/search") Search Member
                    br
                    a(href="/maintaince") Maintaince
                    br
                    a(href="/changeSchdule") Update Schdule
                    br
                    
                
            div#middle(class = "column middle")
                h6 Matthew And Kevin Gym
            div#right(class = "column right")
                div.link
                    a(href="/login") Login 
                    br
                    a(href="/createAcc") Create Account  
                    br
                    a(href="/user") User Profile
                    br
                    a(href="/schdule") schdule 
                    br
                    a(href="/pay") pay
                    br
                    br