html
    head
        title Home page 
        link(rel="stylesheet" type="text/css" href="/styles.css")
    body
        include ../views/header
        h6 Welcome to Matthew and Kevin Gym
        h7 There is various of artwork u can see!!!
        br
        h7 Click the Login button or create new account to begin!
            