html
    head
        title Login 
        link(rel="stylesheet" type="text/css" href="/styles.css")
    body
        include ../views/header
        h6 Login:
        div#middle(class = "column middle")
            div.stats
                h1 Username: 
                |
                input#user(type='text', name='user')
                h1 Password: 
                |
                input#pass(type='text', name='pass')
                br
                div.button1
                    button#delete(type = "button" onclick="login()") Login                
                div#formErrors 
        script(src="/login.js")
