html
    head
        title DashBoard
        link(rel="stylesheet" type="text/css" href="/styles.css")
    body
        include ../views/header
        
        div#left(class = "column left")
        div#middle(class = "column middle")
            h6 Equipments:
            each item in data
                div.cart
                    h3 Equipment: #{item.equipment_name}
                    if(item.broken == false)
                        h3 Status: Available
                    else 
                        h3 Status: Broken
                    
                    div.button1
                        button#join(type = "button" onclick=`fix('${item.equipment_id}')`) Fix Equipment
                
            
        div#right(class = "column right")
           
        script(src="/maintaince.js")